<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching"/>
    </sectionGroup>
  </configSections>
  <enyim.com>
    <memcached protocol="Binary">
      <servers>
        <add address="pub-memcache-18661.us-east-1-1.2.ec2.garantiadata.com" port="18661" />
      </servers>
      <authentication type="Enyim.Caching.Memcached.PlainTextAuthenticator, Enyim.Caching"
                      userName="memcached-06881dda-7379-4a77-bdb5-d0af20"
                      password="5ZrrbOsRZTxk4SI2"
                      zone="" />
    </memcached>
  </enyim.com>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

</configuration>
